@tailwind base;

@tailwind components;



.para {
    font-size: 22px;
    line-height: 37.4px;
    font-weight: 400;
    letter-spacing: 1.5%;
    @apply text-primary-text;
}

.btn-default {
    box-sizing: border-box;
    border-radius: 3px;
    padding: 20px 28px;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 30px;
}
.box-shadow {
    box-shadow: 19px 18px 42px 7px rgba(69, 65, 65, 0.25);
}


#img-transition {
   background: url('../public/img/voting\ 1.jpeg');
   /* background-color: aqua; */
   width: 100%;
   height: 100%;
   animation-name: imageTrans;
   animation-duration: 8s;
}
@keyframes imageTrans {
    0%   {background: url('../public/img/6C29D72B-0683-4706-A5FD-9A6E0218AD16.jpg');} 
    50%  {background: url('../public/img/2015-03-30_nigerian_voters_demonstrate_commitment_to_process_election_day_logistics_need_improvement_2.jpg');} 
    100% {background: url('../public/img/D730A779-8B5E-4183-86E0-AADBF2771309.jpg');} 
  }

.center-content {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    align-items: center;
}
.mordal-wrapper {
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.477);
    width: 100%;
    height: 100vh;
    position: absolute;
    display: none;
    overflow:hidden
}
.c-center {
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    position: absolute;
}

@tailwind utilities;




