@tailwind base;

@tailwind components;



.para {
    font-size: 22px;
    line-height: 37.4px;
    font-weight: 400;
    letter-spacing: 1.5%;
    @apply text-primary-text;
}

.btn-default {
    box-sizing: border-box;
    border-radius: 3px;
    padding: 28px;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 30px;
}
.box-shadow {
    box-shadow: 19px 18px 42px 7px rgba(69, 65, 65, 0.25);
}


.img-slider-size {
    width: 720px ;
    height: 800px;
}

@tailwind utilities;




